:root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, consolas;
    font-size: 16px;
    --even-dark-blue: rgba(0,0,41,0.6);
    --dark-blue: rgba(8,2,121,1);
    --blue: rgb(9, 5, 76);
    --light-blue: rgba(2, 84, 97, 0.8);
    --black-blue: rgb(10, 10, 50);
    --white: rgb(240, 240, 220);
    color: var(--white);

    --first-gradient: rgb(95, 164, 210);
    --second-gradient: rgb(2, 61, 87);
    --third-gradient: rgb(7, 10, 74);
  }
  
  *{
    border: none;
  }
  body{
    background: linear-gradient(
      320deg, 
      var(--second-gradient) 0%, 
      var(--first-gradient) 50%, 
      var(--second-gradient) 100% 
    );
    }
  input, button, textarea, select{
    border-radius: 0.2rem;
    background-color: var(--black-blue);
    padding: 0.5rem;
    color: var(--white);
    text-align: left;
    font-size: 1rem;
    margin: 1rem;
  }
  #title{
    text-align: center;
    text-decoration: underline rgb(49, 238, 137);
  }

  #description{
    text-align: center;
  }
  
  label{
    margin: 0.5rem;
    display:block;
  }
  #survey-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  form{
    padding: 1.5rem;
    border-radius: 2rem;
    background-color: var(--even-dark-blue);
    width: 45rem;
    max-width: 80%;
    min-width: 150px;
  }
  #main-section{
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .bold{
    font-weight: 900;
  }

  .clue{
    font-size: 0.7rem;
    font-style: italic;
  }


  /* style of checkbox and radio */
  input[type="radio"], input[type="checkbox"]{
    display: none;
  }
  .radio,
  .checkbox{
    display: block;
    position:relative;
    height: 2rem;
    width: 2rem;
    background: black;
    border-width: 0;
    margin:0;
    margin-bottom: 0;
    padding:0;
    border:0;
  }
  .radio:after,
  .checkbox:after{
    content: "";
    position: absolute;
    border: solid white;
    border-width: 0 0.30em 0.30em 0;
    transform: rotate(45deg);
    width: 0.5em;
    height: 1em;
    left: 0.6em;
    top: 0.25em;
    opacity: 0;
    transition: 0.3s ease;
  }
  .radio{
    border-radius: 100%;
  }
  .checkbox-text{
    display: block;
    position: relative;
    padding-left: 0.5rem;
  }
  .checkbox-container{
    display:flex;
    align-items:center;
  }
  label input:checked ~ SPAN{
    box-shadow:
    0px 0px 30px 0px var(--dark-blue);
  }
  
  input[type="checkbox"]:checked ~ SPAN:after, input[type="radio"]:checked ~ SPAN:after{
    opacity: 1;
  }

  #submit{
    align-self: center;
    background-color: var(--black-blue);
    width: 16rem;
    max-width: 30%;
    border-radius: 2rem;
    text-align: center;
  }
  #submit:hover{
    background-color: var(--even-dark-blue);
  }